@media (max-width: 1260px) {
    .cajas {

        justify-content: center;
        gap: 20px;
    }


    .bienvenida {
        font-size: 26px;



    }

    .caja img {
        width: 210px;
        height: 240px;
        border: black solid 8px;


    }




    .c1:hover {

        object-fit: cover;
        background-attachment: fixed;
        transition: 1.0s;


        transform: scale(1.2);
    }

    .c2:hover {

        object-fit: cover;
        background-attachment: fixed;
        transition: 0.9s;

        transform: scale(1.2);
    }

    .c3:hover {

        object-fit: cover;
        background-attachment: fixed;
        transition: 0.9s;

        transform: scale(1.2);
    }

    .c4:hover {

        object-fit: cover;
        background-attachment: fixed;
        transition: 0.9s;

        transform: scale(1.2);

    }

    .menu {
        flex-direction: row;
        gap: 19px;
        align-items: center;
        justify-content: center;

    }

  


    footer {
        display: flex;

        margin-top: 30px;
        width: 100%;



    }

    .titulo__sponsor {

        font-size: 26px;

    }

    .sponsors {

        width: 100%;
        gap: 70px;


    }

    sponsors img {
        width: 20%;
    }

    .adidas {

        color: white;
        align-items: center;
        font-family: bo2;
        font-size: 20px;



    }

    .adidas img {
        width: 35%;

    }

    .productobody {
        flex-direction: column;
    }

    .fotos {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        background-attachment: fixed;
    }

    .foto img {
        width: 100%;
        height: 600px;

        background-attachment: fixed;


    }

    .foto {

        padding: 10px;
        background-attachment: fixed;



    }



    .compro:hover {

        background-color: rgb(202, 46, 46);
        font-weight: bolder;


    }


    .foto:hover {

        color: rgb(255, 255, 255);
        font-size: 12px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bold;
    }

    .buzos {
        flex-direction: column;
        background-attachment: fixed;

        align-items: center;
    }

    .buzo img {
        flex-direction: column;

        width: 100%;
        height: 600px;
        object-fit: cover;
        background-attachment: fixed;
        background-size: cover;
    }

}

@media (max-width: 940px) {
    .cajas {
        display: grid;

        grid-template-columns: repeat(2, 2fr);

        justify-content: center;

        gap: 28px;
    }

    .caja img {
        display: grid;
        justify-content: center;

    }

    .sponsors {
        gap: 15px;

    }
}

@media (max-width: 768px) {

    .sponsors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        justify-content: center;
    }
    .sponsors img{
        display: flex;
        align-content: center;
background-attachment: fixed;


    }
    .vid {
        width: 450px;
        height: 220px;

    }
    .offcanvas-body{
        background-image: url(../IMG/mmm.jpg);
        background-repeat: no-repeat;
        
        }
        .offcanvas-header{
            background-image: url(../IMG/mmm.jpg);
        }
        
    .prf {
        font-size: 18px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 4fr);




        gap: 20px;
        align-content: center;

    }


    .menu {
        flex-direction: column;

    }

    .menu li {
        padding: 10px;
    }

    .fotos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        color: transparent;

    }

    .compro:hover {

        background-color: rgb(202, 46, 46);
        font-weight: bolder;


    }


    .foto:hover {

        color: rgb(255, 255, 255);
        background-image: url(../IMG/noso.jpg);
        background-attachment: scroll;
        background-position: center;
        font-size: 12px;

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: bolder
    }


    .foto {

        padding: 10px;
        background-attachment: fixed;

    }

    .foto img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        background-attachment: fixed;
        background-size: contain;



    }


    .buzos {
        flex-direction: column;
        background-attachment: fixed;
    }

    .buzo img {
        flex-direction: column;
        width: 100%;
        height: 500px;

    }

    footer {
        flex-direction: column;

        width: 100%;


    }

    .tituloproducto {
        color: rgb(105, 130, 201);
        text-align: center;
        background-color: wheat;

        font-family: BO2;
        font-size: 20px;
        display: flex;
        flex-direction: column;

    }

    .camisetastitulo {
        background-color: rgb(70, 6, 6);
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 50px;
        color: white;
        font-size: 18px;
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .buzostitulo {
        display: flex;
        flex-direction: column;
        font-size: 18px;


    }

    footer .reserva {

        flex-direction: column;

    }

    .adidas {
        flex-direction: column;
        justify-content: space-between;


    }

    .adidas img {
        width: 15%;

    }
 
}

@media (max-width: 480px) {
    .videopresentacion {
        justify-content: center;
    }

    .vid {
        width: 390px;
        height: 180px;
    }

    .prf {
        font-size: 15px;
    }

    .caja img {
        width: 100%;
        height: 180px;
        
    }

    .cards {
        width: 100%;

    }
    .card img{
        height: 120px;
    }

    .menu {
        flex-direction: column;
        justify-content: center;
        align-content: center;

    }

    .menu li {
        padding: 10px;


    }

    .menu li a {
        font-size: 19px;
        display: flex;
        flex-direction: column;

    }



    .fotos {
        display: flex;
        flex-direction: column;

        gap: 30px;

        object-fit: cover;
    }

    .foto img {
        width: 100%;
        background-size: contain;
        height: 400px;
        object-fit: cover;
        background-attachment: fixed;
    }

    .foto {

        padding: 10px;
        background-attachment: fixed;
    }

    .buzos {
        flex-direction: column;
    }

    .buzo img {
        flex-direction: column;
        width: 100%;
        height: 400px;

    }

    .collapse {
        background-color: #2522cc;
    }
}